# Ignore system and editor files
**/.DS_Store
.vscode/

# Ignore setup files
docs/_site
docs/.sass-cache
docs/.jekyll-cache
docs/.jekyll-metadata
docs/vendor
docs/Gemfile
docs/Gemfile.lock

# Ignore other files
drafts/
old/
docs_test/
